$strong-cyan: hsl(171, 66%, 44%);
$strong-cyan-hover: hsla(171, 66%, 44%, 0.75);
$strong-cyan-border: hsl(171, 66%, 33%);
$light-blue: hsl(233, 100%, 69%);
$light-blue-hover: hsla(233, 100%, 69%, 0.75);
$light-blue-border: hsl(233, 100%, 58%);
$dark-grayish-blue: hsl(210, 10%, 33%);
$grayish-blue: hsl(201, 11%, 66%);
$white: hsl(140, 100%, 99%);
